name: "Release"

on:
  push:
    branches:
      - "main"

permissions:
  contents: "write"
  pull-requests: "write"

jobs:
  release-please:
    runs-on: "ubuntu-latest"

    steps:
      - id: "release"
        name: "Release"
        uses: "googleapis/release-please-action@v4"

      - name: "Checkout Codebase"
        if: "${{ steps.release.outputs.release_created }}"
        uses: "actions/checkout@v6"
        with:
          fetch-depth: 0

      - name: "Install Nix"
        if: "${{ steps.release.outputs.release_created }}"
        uses: "DeterminateSystems/nix-installer-action@v21"

      - name: "Build Static Exectutable"
        id: "build_static"
        if: "${{ steps.release.outputs.release_created }}"
        run: |
          bash ./build-static.sh | tee /tmp/build.log
          echo "executable=$(tail -n1 /tmp/build.log)" >> $GITHUB_OUTPUT

      - name: "Upload Release Artifact"
        if: "${{ steps.release.outputs.release_created }}"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        run: |
          gh release upload "${{ steps.release.outputs.tag_name }}" "${{ steps.build_static.outputs.executable }}"
